* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
    font-size: 125%;
}

header {
    background-color: #c0392b;
    color: white;
    padding: 20px;
    text-align: center;
    background-image: url('ChopSushi.png');
    background-repeat: no-repeat;
    padding: auto;
    background-size: 25%;
    background-position: left;
    font-size: 125%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    font-size: 125%;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-image: url('East.png');
    background-repeat: no-repeat;
    background-position: right;
}

.menu-item {
    margin-bottom: 20px;
}

h2 {
    color: #00000;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    margin-top: 15px;
    padding: 10px;
    background-color: #c0392b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color:#ff4d01;
}

img {
    display: inline-block;
    float: center;
    height: 40%;
    width: 40%;
}
footer {
    background-color: #c0392b;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    background-image: url('ChopSushi.png');
    background-repeat: no-repeat;
    padding: auto;
    background-size: 25%;
    background-position: right;
}
